/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #a9a9a9;
}
      
/* Styles for Card container */

header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

[alt="card"] {
  max-width: 100%;
}

/* Styles for registry container */

.center {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.group {
  display: flex;
  justify-content: center
}

.container-button {
  margin-top: 2rem;
}

[alt="omise"] {
  width: 4rem;
}

.form-control:focus{
  border-color: none;
  box-shadow: none;
}



.error:focus, .error{
  box-shadow:0 0 1px 2px #F6CCD0;
  border: none;
  outline: none;
  border: 1px solid #DC3545;
}

.success:focus, .success{
  box-shadow: 0 0 1px 2px #C9E9D0;
  border: none;
  outline: none;
  border: 1px solid #28A745;
}


